.aboutMe-container{
    background-color: #50686f;
    padding: 5rem 4rem 2rem 4rem;
    text-align: center;
}
.aboutMe-container > h2 {
    color: #c2d0d2;
    font-family: 'Raleway';
}
.aboutMe-container > div{
    padding: 0rem .1rem 0rem .1rem;
}
.aboutMe-container > div > hr {
    margin-top: 2rem;
    border-style: ridge;
    border-color:#2a3234 ;
    padding: 0 rem;
}
.aboutMe-container > p {
    line-height: 2.3rem;
    font-family: sans-serif;
    color: #a7b8bd;
    padding: 2rem 0rem 2rem 0rem;
}


@media screen and (max-width:600px) {
    .aboutMe-container > h2{
        margin-top: 4rem;
    }
    .aboutMe-container > p {
        line-height: 2rem;
    }
}